/*fonts*/
@font-face {
    font-family: BaronNeueBlack;
    src: url(font/Baron_Neue_Black.otf);
}

@font-face {
    font-family: Arial;
    src: url(font/Arial-Regular.woff);
}

/*CSS RESET default brauser settings*/
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #1a2631;
	background: #f3f3f3;
	font-family: BaronNeueBlack;
}
ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



/*START page styles*/

/*SCRIPTUM first section*/

.section-padding {
	padding-top: 100px;
}

section.logo-block {
	padding: 20px;
	margin: 0 auto;
}



.main-title {
	position: relative;
}
.position-abs {
	position: absolute;
	top: 0px;
}

.img-index {
	z-index: 6;
	width: 54px;
	padding: 15px;
	
}

.logo-img {
	left: 0px;
}

.menu-img {
	right: 0;
}

.menu-img:hover {
	cursor: pointer;
}

.background-img{
	 width: 100%;
	 margin: 0 auto;
}

/*ABOUT - second section*/

.section-background {
	background: linear-gradient(to right, #f3f3f3, #fff);
}

.section-margin {
	margin: 0 20px 20px;
}

.section-width {
	width: 875px;
	margin: auto;
}

section.about {
	height: 500px;
}

.about-img {
	max-width: 50%;
	float: left;
}

.about-content {
	padding-top: 100px;
}

.about-text {
	height: 300px;
	width: 45%;
	float: right;
}

.about-title {
	padding-top: 20px;
	text-align: left;
	font-size: 36px;
	letter-spacing: 1.5px;
	

}
.about-text-width {
	width: 355px;
}
.about-text-shadow {
	margin-top: -25px;
}

.about-text > p {
	font-size: 12px;
	text-align: justify;
	font-family: Arial;
	opacity: 0.5;
	letter-spacing: 1.3px;
	line-height: 17px;
}

.about-text > h5 {
	margin-top: 20px;
	font-size: 16px;
}

.about-text > h5+img:hover {
	border-bottom: 2px solid #333;
	cursor: pointer;
}



/*WORKS - third section*/
section.work, section.skills {
	padding-bottom: 90px;
	height: 100%;
	min-height: 800px;
	text-align: center;
}

.work-nav, .skills-nav, .news-nav, .contact-nav{
	text-align: center;
	margin: 0 auto;
}

.work-title {
	font-size: 30px;
}

.work-nav > ul > li {
	padding: 30px 0px 5px;
	margin: 0 10px;
	display: inline-block;
	font-size: 15px;
	border-bottom: 2px solid transparent;
}

.work-list > li > a {
	text-decoration: none;
	color: inherit;
}

.work-text-width {
	max-width: 145px;
	margin-left: 35px;
	margin-top: -20px;
}

.work-list > li:hover {
	border-bottom: 2px solid #333;
	cursor: pointer;
}

.work-list > li.active {
	border-bottom: 2px solid #333;
	cursor: pointer;
}

.work-galery {
	margin-top: 50px;
	text-align: center;
}

.photo-block {
	width: 33%;
	height: 100%;

}

.photo-block:first-child {
	float: left;	
}


.photo-block:nth-child(2) {
	display: inline-block;

}

.photo-block:last-child {
	float: right;

}

.photo-block > img {
	width: 94%;
	margin-bottom: 18px;
}

.photo-block > img:hover {
	cursor: pointer;
}


/*DEVELOPMENT - fourth section*/

section.web-development {
	background-color: #fff;
	margin-bottom: 20px;
}

.web-dev-picture{
	width: 50%;
}

.web-dev-container {
	width: 50%;
	float: right;
}

.web-dev-block {
	/*border: 1px solid black;*/
	border-collapse: collapse;
	text-align: center;
	margin: calc(50% - 235px) auto;
	width: 450px;
	height: 400px;
}

.web-dev-block td {
	/*border: 1px solid black;*/
	text-align: center;
	padding-top: 15px;
	width: 50%;
}

.web-dev-block td object {
	height: 100px;
	display: inline-block;
}


/*SKILLS - fifth section*/
section.skills {
	min-height: 500px;
	text-align: center;
}

.skills-nav > img {
	max-width: 114px;;
	margin-top: -40px;
}

.skills-title, .news-title, .contact-title {
	font-size: 36px;
}

.skills-container {
	margin: 100px auto 50px;
	font-family: Arial;
	/*width: 950px;*/
}

.skill > h3 {
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: bold;
}

.skill > h3+img {
	margin-top: -12px;
}
.design-text {
	width: 65px;
}
.css-text {
	width: 52px;
}

.javascript-text {
	width: 95px;
}

.skill-picture{
	margin: 10px 0;
	width: 100%;
}

.skill {
	margin-bottom: 30px;
	text-align: left;
}
/*MOBILE - sixth section*/
section.mobile {
	height: 100%;
	width: 100%;
	padding-bottom: 100px;
}
.mobile-container {
	width: 950px;
	margin: 0 auto;
	text-align: center;
	/*padding-bottom: 60px;*/
}

.mobile-container > div {
	padding-top: 40px;
}
.mobile-photo {
	height: 450px;
	display: inline-block;

}
.mobile-content {
	width: 345px;
	height: 167px;
	color: #4b5258;
	letter-spacing: 1.3px;

}

.mobile-content > object {
	width: 65px;
}

.mobile-content > h4 {
	font-size: 16px;
	margin-bottom: 7px;
}

.mobile-content > p {
	font-size: 13px;
	letter-spacing: 1.5px;
    font-family: Arial;
    line-height: 18px;
    color: #aaaaaa;
} 

.mobile-content:first-child {
	margin-bottom: 30px;
}

.mobile-left-block {
	float: left;
	text-align: left;
}

.icon-box {
	width: 65px;
	height: 100%;
}

.mobile-left-block .icon-box {
	float: left;
	margin-right: 20px;
}

.mobile-right-block {
	float: right;
	text-align: right;
}

.mobile-right-block .icon-box {
	float: right;
	margin-left: 20px;
}


/*NEWS - seventh block*/

section.news {
	padding-bottom: 90px; 
}

.news-text-width, .contact-text-width {
	margin-top: -21px;
    margin-left: 9px;
    max-height: 35px;
}

.news-nav, .contact-nav{
	margin-bottom: 80px;
}

.news-content {
	/*width: 945px;*/
	height: 350px;
	margin: 0 auto;
	text-align: center;
}

.news-block {
	width: 33%;
	height: 350px;
}

.news-block:first-child {
	float: left;
}

.news-block:nth-child(2) {
	display: inline-block;
}

.news-block:last-child {
	float: right;
}

.news-block > img:first-child {
	width: 95%;
}

.news-info {
	text-align: left;
	padding-left: 2%;
    width: 98%;
	color: #4b5258;
}

.news-info > p {
	font-family: Arial;
	color: #888;
	line-height: 18px;
}

.news-info > p > span {
	font-size: 13px;
	padding-right: 10px;
}

.news-icon {
	width: 12px;
	padding-top: 7px;
	padding-left: 3px;
}

.news-info > h3 {
	font-size: 15px;
	padding: 5px 0 10px;
}

.news-description {
	font-size: 14px;
}

.news-info > h4 {
	opacity: 0.8;
	font-size: 13px;
	margin-top: 25px;
}

.news-info > h4+img {
    max-width: 85px;
    margin-top: -10px;
}
.news-info > h4:hover {
	cursor: pointer;
}
.news-info > h4+img:hover {
	border-bottom: 2px solid #777;
	cursor: pointer;
}


/*QUOTES eighth section*/
section.quotes {
	background-image: url(img/quotes/quotes-background.png);
	background-size: 100%;
	background-repeat: no-repeat; 

}
.quotes-block {
	float: left;
	width: 50%;
	text-align: center;
}
.quotes-picture {
	width: 50%;
}

.quotes-text {
	width: 420px;
	height: 400px;
	margin: calc(50% - 220px) auto 0;
}

.quotes-icon {
	margin: 40px 0 70px;
}

.quotes-icon > img {
	width: 20px;
}

.quotes-text > p {
	line-height: 25px;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #1a2631;
	letter-spacing: 2px;
	margin-bottom: 90px;
}
.quotes-nav {
	width: 100%;
}
.quotes-nav > li{
	margin: 5px; 
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #cfcdcd;
}

.quotes-nav > li:hover {
	background-color: #333;
	cursor: pointer;
}

.quotes-nav > li.active {
	background-color: #333;
	cursor: pointer;
}


/*CONTACT ninth section*/
section.contact {
	height: 100%;
	padding-bottom: 140px;
}

.contact-form {
	margin: 0 auto;
	width: 710px;
	height: 100%;
}

.contact-form > form {
	width: 100%;
	height: 540px;
}

.form-name {
	width: 100%;
	padding-bottom: 30px;
	height: 44px;
}

.input-text {
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: bold;
}

.input-style {
	border: 1px solid transparent;
	background-color: #efefef;
	padding-left: 20px;
}
.form-name > input {
	width: 45%;
	height: 40px;
}

.form-name > input:first-child {
	float: left;
}

.form-name > input:last-child {
	float: right;
}

.form-email > input{
	width: calc(100% - 22px);
	height: 40px;
	margin-bottom: 30px;
}

.form-email > textarea {
	width: calc(100% - 24px);
	height: 300px;
	padding-top: 20px;
	font-family: Arial;
}

.send-button {
	font-size: 12px;
	border: 0;
    background-color: transparent;
    font-family: Arial;
    color: #A9A9A9;
    padding-left: 20px;
}

.send-button-block {
	margin-top: 25px;
	width: 75px;
}
.send-text-shadow {
	padding-left: 18px;
    margin-top: -9px;
}
.send-button-block:hover {
	color: #777;
	cursor: pointer;
}


.send-text-shadow:hover {
	border-bottom: 2px solid #777;
}
/*FOOTER section*/
section.footer {
	height: 80px;
	margin-bottom: 50px;
	padding-top: 40px;
}
.social-icons {
	min-width: 200px;
	margin-left: 150px;
	float: left;
	height: 40px;
}

.social-icons > img {
	height: 12px;
	padding-right: 7px;
	padding-bottom: 4px;
}

.social-icons > img:hover {
	cursor: pointer;
}

.copyright-text {
	margin-top: 5px;
	font-family: Arial;
	font-size: 14px;
	color: #5c5c5c;
	letter-spacing: 1px;
}

.up-button {
	float: right;
	margin-right: 150px;
}




/*MEDIA QUERIES*/

@media only screen and (min-width : 1429px) {
	.img-index {
		width: 65px;
	}

	.section-width {
		width: 945px;
	}
	.contact-form {
		width: 780px;
	}

}

@media only screen and (min-width : 1549px) {
	.section-width {
		width: 1078px;
	}

	.img-index {
		width: 70px;
	}

	.mobile-container {
		width: 1066px;
	}

	.contact-form {
		width: 850px;
	}
}

/*==============================*/

@media only screen and (max-width : 1110px) {
	.web-dev-block {
	    margin-left: 10%;
	    width: 80%;
	    height: 100%;
	}

	.web-dev-block td object {
	    height: 88px;
	    padding-top: 22px;
	}

	.social-icons {
		margin-left: 100px;
	}
	.up-button {
		margin-right: 100px;
	}
}


@media only screen and (max-width : 992px) {
	.section-width {
		width: calc(100% - 40px);
	}

	.mobile-container {
		width: calc(100% - 80px);
    	padding: 0px 40px;
	}

	.mobile-photo {
		height: 350px;
	}

	.mobile-content {
		width: 310px;
	}

	.mobile-container > div {
		padding-top: 0;
	}

	.icon-box {
		width: 45px;
	}

	.icon-box  > object {
		width: 45px;
	}

	.contact-form {
		width: 645px;
	}

	.social-icons {
		margin-left: 85px;
	}
	.up-button {
		margin-right: 85px;
	}
}


@media only screen and (max-width : 965px) {
    .mobile-photo {
    	height: 320px;
	}

	.mobile-content {
    	width: 288px;
	}

	.mobile-container > div {
    	margin-top: -25px;
	}
}

@media only screen and (max-width : 940px) {
	.web-dev-block td object {
		height: 65px;
    	padding-top: 40px;
	}
}

@media only screen and (max-width : 891px) {
	.about-title {
		padding-top: 0px;
	}
}

@media only screen and (max-width : 860px) {
	.mobile-container > div {
    	margin-top: -35px;
	}

	.quotes-text {
    	width: calc(100% - 20px);
	}

	.contact-form {
    	width: 595px;
	}

	.social-icons {
		margin-left: 35px;
	}
	.up-button {
		margin-right: 35px;
	}

	.mobile-container {
		height: 325px;
	}

	.mobile-photo {
		display: none;
	}

	.mobile-content {
		width: 310px;
	}
}

@media only screen and (max-width : 820px) {
	section.about {
    	min-height: 420px;
	}

	.about-title {
		font-size: 26px;
	}

	.about-text-width {
    	width: 240px;
	}

	.about-shadow {
    	width: 103px;
	}

	.about-text > p {
    	font-size: 9px;
	}
}

@media only screen and (max-width : 800px) {
	.contact-form {
    	width: 500px;
	}

	.web-dev-block td object {
    height: 50px;
    padding-top: 22px;
	}

	.web-dev-block {
    margin-left: 12%;
    width: 75%;
    margin-top: -2%;
	}

}

@media only screen and (max-width : 740px) {
	.contact-title {
		padding: 10px 50px; 
	}

	
	.about-text {
		width: 53%;
	}	

	.about-img {
    	width: 44%;
	}

	section.about {
    	height: 420px;
	}

	section.work {
		min-height: 560px;
	}

	section.skills {
		padding-bottom: 40px;
	}

	.mobile-content {
    	width: 100%;
	}

	section.mobile {
    min-height: 550px;
	}

	.quotes-icon {
    	margin: 65px 0 57px;
	}

	.quotes-text > p {
		font-size: 14px;
		margin-bottom: 40px;
	}

@media only screen and (max-width : 700px) {
	.web-dev-block td object {
    	height: 35px;
    }
}

